/* 
    ---MAIN YELLOWS---
    #dfb74a
    #FCD462
*/

button#addNoteButton {
    background-color: #FCD462;
    margin: 50px;
    border-radius: 50%;
    padding: 35px;
    height: 50px;
    width: 50px;
    border: 0;
}

i#addNote {
    color: #FCD462;
    margin-bottom: 40px;
    margin-right: 20px;
}

i#addNote:hover {
    color: #dfb74a;
    cursor: pointer;
}

div.draggableNote {
    background-color: #FCD462;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    position: absolute;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.69); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.69);
    border-bottom: 5px solid #dfb74a;
}

div.draggableNote {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -10%);
}

div.noteWrapper{
    display: grid;
}

div.draggableNote div#noteTopSpace {
    grid-column: 1/2;
    grid-row: 1;
    width: 220px;
    height: 30px;
    cursor: grab;
}

div.draggableNote button#noteButton {
    grid-column: 2/2;
    grid-row: 1;
    width: 30px;
    background-color: #dfb74a;
    text-align: center;
    font-weight: bold;
    color: #ad8f3a;
    cursor: pointer;
    border: none;
}

div.draggableNote div#NoteWrittingSpace {
    height: 100%;
}